<div class="container">
  <pui-card :key="route.path" v-if="route.label" v-for="route in routes" class="card" rightArrow cursor @click="$router.push(route.path)">
  {{route.label}}
  </pui-card>
  <!--<pui-card class="card" rightArrow cursor @click="$router.push('/button')">-->
    <!--Button 按钮组件-->
  <!--</pui-card>-->
  <!--<pui-card class="card" rightArrow cursor>-->
    <!--Textarea 文本域组件-->
  <!--</pui-card>-->
  <!--<pui-card class="card" rightArrow cursor>-->
    <!--Card 卡片组件-->
  <!--</pui-card>-->
  <!--<pui-card class="card" rightArrow cursor @click="$router.push('/modal')">-->
    <!--弹窗-->
  <!--</pui-card>-->
</div>
