<div class="container">
  <pui-card class="card" rightArrow cursor @click="$router.push('/button')">
    Button 按钮组件
  </pui-card>
  <pui-card class="card" rightArrow cursor @click="$router.push('/textarea')">
    Textarea 文本域组件
  </pui-card>
  <pui-card class="card" rightArrow cursor>
    Card 卡片组件
  </pui-card>
  <pui-card class="card" rightArrow cursor @click="$router.push('/modal')">
    Modal 弹窗
  </pui-card>
  <pui-card class="card" rightArrow cursor @click="$router.push('/collapse')">
    Collapse 折叠展开
  </pui-card>
</div>